.conatiner {
    max-height: 100vh;
    max-width: 100vw;
}

.dashboard {
    max-width: 1400px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
            "tools calendar calendar chatbot";
}

.tools {
    grid-area: tools;
}

.calendar {
    grid-area: calendar;
}

.chatbot {
    grid-area: chatbot
}